@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>


<address>
    Karol Karpierz
</address>

<address>
    <a href="mailto:k.karpierz.mail@gmail.com">k.karpierz[dot]mail[at]gmail.com</a><br />
</address>
