@{
    ViewBag.Title = "Kontakt";
}
<h2>Karol Karpierz</h2>

<div>
    <address>
        @ViewBag.Title
    </address>

    <address>
        email me: k.karpierz.mail@gmail.com<br />
    </address>

    <div class="col-md-12" style="padding-top: 30px;">
        <a class="btn btn-default" href="~/Files/Karol_Karpierz_cv.pdf" target="_blank">Pobierz moje cv</a>
    </div>
</div>
