@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Programista</h1>
    <p class="lead">Witaj. Na mojej stronie znajdziesz informacje o umiejętnościach oraz wykonanych przeze mnie projektach. <br />
                    Zajmuje się tworzeniem oprogramowania oraz stronami internetowymi i rozwijam swoje umiejętności w tych dziedzinach.
                    Lubię programowanie i brałem udział we współtworzeniu projektów.
    </p>
    <p><a href="@Url.Action("Portfolio")" class="btn btn-primary btn-lg">Portfolio &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Umiejętności</h2>
        <p style="padding-top: 10px; padding-bottom: 10px;">Wiedza i kwalifikacje z poszczególnych technologii programowania.</p>
        <p><a class="btn btn-default" href="@Url.Action("About")">Więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Doświadczenie</h2>
        <p style="padding-top: 10px; padding-bottom: 10px;">Umiejętności poparte doświadczeniem zawodowym.</p>
        <p><a class="btn btn-default" href="@Url.Action("About")#experience">Więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Projekty</h2>
        <p style="padding-top: 10px; padding-bottom: 10px;">Niektóre aplikacje i projekty opisane w portfolio.</p>
        <p><a class="btn btn-default" href="@Url.Action("Portfolio")">Więcej &raquo;</a></p>
    </div>
</div>